{% extends 'public/base_cpanel.html' %}

{% block title %}Crud - Python 🐍 | Lista de Usuarios{% endblock %}

{% block body %}
{% if resp_usuariosBD %}
<div class="container mt-5 mb-5">
  <div class="card shadow rounded-4 border-0">
    <div class="card-body">
      <h2 class="text-center mb-4 fw-bold">Lista de Usuarios Creados</h2>
      <hr class="mb-4" />
      
      <div class="table-responsive">
        <table class="table table-hover align-middle">
          <thead class="table-dark text-center">
            <tr>
              <th class="text-center text-warning">Usuario</th>
              <th class="text-center text-warning">Email</th>
              <th class="text-center text-warning">Fecha de creación</th>
              <th class="text-center text-secondary">Acción</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            {% for usuario in resp_usuariosBD %}
            <tr>
              <td>{{ usuario.name_surname }}</td>
              <td>{{ usuario.email_user }}</td>
              <td>{{ usuario.created_user }}</td>
              <td class="text-center">
                <button class="btn btn-outline-danger btn-sm rounded-pill px-3"
                        onclick="eliminarUsuario('{{ usuario.id }}');">
                  <i class="bi bi-trash3 me-2"></i>Eliminar
                </button>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% else %}
<div class="container mt-5 mb-5">
  <div class="alert alert-warning text-center shadow rounded-4" role="alert">
    <h4 class="fw-bold">No hay usuarios 😭</h4>
  </div>
</div>
{% endif %}
{% endblock %}

{% block customJS %}
<script>
  function eliminarUsuario(id) {
    if (confirm("¿Estás seguro que deseas eliminar el Usuario?")) {
      let url = `/borrar-usuario/${id}`;
      window.location.href = url;
    }
  }
</script>
{% endblock %}
