<!-- Contenedor principal centrado -->
<div class="container-fluid min-vh-100 d-flex align-items-center justify-content-center ">

  <!-- Card del Login -->
  <div class="card p-4 darky" style="width: 100%; max-width: 400px; border-radius: 1rem;">
    <div class="card-body">

      <!-- Logo -->
      <div class="text-center mb-4">
        <img src="{{ url_for('static', filename='assets/img/logo.png') }}" 
             alt="Logo" 
             class="img-fluid" 
             style="max-width: 200px;">
      </div>

      <!-- Formulario -->
      <form id="formAuthentication" action="{{ url_for('loginCliente') }}" method="POST">

        <div class="mb-3">
          <label for="email_user" class="form-label">Email</label>
          <input type="email" class="form-control" name="email_user" placeholder="Escribe tu email" required>
        </div>

        <div class="mb-3">
          <label for="pass_user" class="form-label">Clave</label>
          <div class="input-group">
            <input type="password" class="form-control" name="pass_user" placeholder="********" required>
            <span class="input-group-text"><i class="bx bx-hide"></i></span>
          </div>
          <div class="text-end mt-1">
            <a href="{{ url_for('cpanelRecoveryPassUser') }}"><small>¿Olvidó su Clave?</small></a>
          </div>
        </div>

        <div class="d-grid">
          <button type="submit" class="btn btn-primary">Entrar ahora <i class="bi bi-arrow-right-circle"></i></button>
        </div>
      </form>

      <!-- Registro -->
      <p class="text-center mt-3">
        <a href="./register-user">Crear mi cuenta</a>
      </p>

    </div>
  </div>

</div>
