{% extends 'public/base_cpanel.html' %}
<!--Cambiando el title-->
{% block title %}Crud con Python 🐍 | Actualizar Empleado{% endblock %}
<!---->
{% block customCSS %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename ='assets/css/file.css') }}" />
{% endblock %}

<!--Inicio del block-->
{% block body %}
<div class="card" style="border-radius: 0px !important">
  {% if respuestaEmpleado|length %}
  <div class="row justify-content-center mb-2">
    <div class="col-md-12">
      <h3 class="text-center mt-5 mb-3">
        <a href="/lista_empleados">
          <i class="bi bi-arrow-left-circle"></i>
        </a>
        ACTUALIZAR DATOS DEL EMPLEADO
      </h3>
      <hr />
    </div>
  </div>

  <div class="row justify-content-center mb-2">
    <div class="col-md-8">
        <form method="POST" action="/actualizar_empleado">
            <div class="row">
                <!-- Columna 1 -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="cc">CC (Cédula de Ciudadanía)</label>
                        <input type="number" class="form-control" id="cc" name="cc" value="{{ empleado.cc }}" required readonly>
                    </div>
                    <div class="form-group">
                        <label for="nom">Nombre</label>
                        <input type="text" class="form-control" id="nom" name="nom" value="{{ empleado.nom }}" required>
                    </div>
                    <div class="form-group">
                        <label for="car">Cargo</label>
                        <select class="form-control" id="car" name="car" required>
                            <option value="conductor" {% if empleado.car == 'conductor' %}selected{% endif %}>Conductor</option>
                            <option value="conductorRR" {% if empleado.car == 'conductorRR' %}selected{% endif %}>Conductor RR</option>
                            <option value="auxiliarDistribucion" {% if empleado.car == 'auxiliarDistribucion' %}selected{% endif %}>Auxiliar de Distribución</option>
                            <option value="RR" {% if empleado.car == 'RR' %}selected{% endif %}>RR</option>
                            <option value="temporal" {% if empleado.car == 'temporal' %}selected{% endif %}>Temporal</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="cash">CASH</label>
                        <input type="text" class="form-control" id="cash" name="cash" value="{{ empleado.cash }}" required>
                    </div>
                    <div class="form-group">
                        <label for="check">CHECK</label>
                        <input type="number" class="form-control" id="check" name="check" value="{{ empleado.check }}" min="0" max="100" step="1" required>
                        <small class="form-text text-muted">Ingresa un valor entre 0 y 100</small>
                    </div>
                    <div class="form-group">
                        <label for="mod">MOD</label>
                        <input type="number" class="form-control" id="mod" name="mod" value="{{ empleado.mod }}" min="0" max="100" step="1" required>
                        <small class="form-text text-muted">Ingresa un valor entre 0 y 100</small>
                    </div>
                </div>

                <!-- Columna 2 -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="centro">Centro de Trabajo</label>
                        <select class="form-control" id="centro" name="centro" required>
                            <option value="Corozal" {% if empleado.centro == 'Corozal' %}selected{% endif %}>Corozal</option>
                            <option value="Magangue" {% if empleado.centro == 'Magangue' %}selected{% endif %}>Magangue</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="sac">SAC</label>
                        <input type="text" class="form-control" id="sac" name="sac" value="{{ empleado.sac }}" required>
                    </div>
                    <div class="form-group">
                        <label for="er">ER</label>
                        <input type="number" class="form-control" id="er" name="er" value="{{ empleado.er }}" min="0" max="100" step="1" required>
                        <small class="form-text text-muted">Ingresa un valor entre 0 y 100</small>
                    </div>
                    <div class="form-group">
                        <label for="paradas">Paradas</label>
                        <input type="text" class="form-control" id="paradas" name="paradas" value="{{ empleado.paradas }}" required>
                    </div>
                    <div class="form-group">
                        <label for="performance">Performance</label>
                        <input type="number" class="form-control" id="performance" name="performance" value="{{ empleado.performance }}" min="0" max="100" step="1" required>
                        <small class="form-text text-muted">Ingresa un valor entre 0 y 100</small>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary mt-2">Actualizar Empleado</button>
        </form>
    </div>
</div>

  {% else %}
  <div class="row justify-content-center mb-2">
    <div class="col-md-12">
      <h3 class="text-center">No existe el empleado</h3>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}

{% block customJS %}
<script src="{{ url_for('static', filename ='assets/customJS/file.js') }}"></script>
{% endblock %}