{% extends 'public/base_cpanel.html' %}
<!--Cambiando el title-->
{% block title %}Crud con Python 🐍 | Lista de Empleados{% endblock %}
<!--Inicio del block-->
{% block body %}

<div class="card" style="border-radius: 0px !important">
  <div class="row justify-content-center mb-2">
    <div class="col-md-12 mb-4">
      <h3 class="text-center mt-5 mb-3">LISTA DE EMPLEADOS</h3>
      <hr />
    </div>

    <div class="row justify-content-end">
      <div class="col-md-6 mt-4 py-2">
        <input
          type="search"
          id="search"
          class="form-control border-0 "
          placeholder="Buscar empleado..."
          onkeyup="buscadorTable('tbl_empleados')" />
      </div>
    </div>

    <div class="row justify-content-center mb-2">
      <table 
        id="tbl_empleados" 
        class="table  table-bordered table-hover bg-dark text-white" 
        cellspacing="0" 
        width="100%">
        <thead>
          <tr>
            <th>CC</th>
            <th>Nombre</th>
            <th>Cargo</th>
            <th>Centro</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% if empleados %}
            {% for empleado in empleados %}
            <tr>
              <td>{{ empleado.CC }}</td>
              <td>{{ empleado.NOM }}</td>
              <td>{{ empleado.CAR }}</td>
              <td>{{ empleado.CENTRO }}</td>
              <td>
                <div class="btn-group gap-1" role="group">
                  <a
                    href="/detalles-empleado/{{ empleado.CC }}"
                    class="btn btn-info btn-sm rounded-pill"
                    title="Ver detalles">
                    <i class="bi bi-eye"></i>
                  </a>
                  <a
                    href="{{ url_for('viewEditarEmpleado', id=empleado.CC) }}"
                    class="btn btn-success btn-sm rounded-pill"
                    title="Actualizar Registro">
                    <i class="bi bi-arrow-clockwise"></i> Actualizar
                  </a>
                  <a
                    href="#"
                    onclick="eliminarEmpleado('{{ empleado.CC }}','{{ empleado.foto_empleado }}');"
                    class="btn btn-danger btn-sm rounded-pill"
                    title="Eliminar empleado">
                    <i class="bi bi-trash3"></i> Eliminar
                  </a>
                </div>
              </td>
            </tr>
            {% endfor %}
          {% else %}
            <tr>
              <td colspan="5" class="text-center">No hay empleados registrados.</td>
            </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}